
/***############### General Styling Reset and Setup: reset, grid, typography, general classes and divs.  Mobile-first styling setup. ***/
/***########## Reset the styles, add box-sizing: border-box. ***/
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, select, tr, td, th, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/*For ease of development and maintainability, combine an element's width, padding, margin, and border into a final value, and enable this on all elements. */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/***########## Grid Column layout available.  Desktop and mobile settings.  Automatically make columns full width below a certain width. Very-small (vsm) 
columns display at their designated widths at all device sizes, small (sma) above the first breakpoint, large (lar) above the next breakpoint. ***/
.content { width: 100%; padding: 20px 10px 20px 10px; }
.content-row { width: 100%; padding: 20px 0 20px 0; }
.content-row:after { content: ""; display: block; clear: both; }
.content-row.no-content-row-padding { padding: 0; }
.content-row:first-of-type { padding-top: 0; }
.content-row:last-of-type { padding-bottom: 0; }
 
.col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12,
.col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.col-vsm-1, .col-vsm-2, .col-vsm-3, .col-vsm-4, .col-vsm-5, .col-vsm-6, .col-vsm-7, .col-vsm-8, .col-vsm-9, .col-vsm-10, .col-vsm-11, .col-vsm-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-vsm-1 { width: 8.333333%; }
.col-vsm-2 { width: 16.666667%; }
.col-vsm-3 { width: 25%; }
.col-vsm-4 { width: 33.333333%; }
.col-vsm-5 { width: 41.666667%; }
.col-vsm-6 { width: 50%; }
.col-vsm-7 { width: 58.33333%; }
.col-vsm-8 { width: 66.666667%; }
.col-vsm-9 { width: 75%; }
.col-vsm-10 { width: 83.333333%; }
.col-vsm-11 { width: 91.666667%; }
.col-vsm-12 { width: 100%; }  

/* Switch to 12 columns at 700px for small columns and 1200px for large columns. */
@media only screen and (min-width: 700px){    
    .col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-sma-1 { width: 8.333333%; }
    .col-sma-2 { width: 16.666667%; }
    .col-sma-3 { width: 25%; }
    .col-sma-4 { width: 33.333333%; }
    .col-sma-5 { width: 41.666667%; }
    .col-sma-6 { width: 50%; }
    .col-sma-7 { width: 58.33333%; }
    .col-sma-8 { width: 66.666667%; }
    .col-sma-9 { width: 75%; }
    .col-sma-10 { width: 83.333333%; }
    .col-sma-11 { width: 91.666667%; }
    .col-sma-12 { width: 100%; }    
}

@media only screen and (min-width: 1200px){
    .content { padding: 20px 0 20px 0; }
    .content-row { padding: 25px 0 25px 0; }
    .content-row:first-of-type { padding-top: 0; }
    .content-row:last-of-type { padding-bottom: 0; }
       
    .col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-lar-1 { width: 8.333333%; }
    .col-lar-2 { width: 16.666667%; }
    .col-lar-3 { width: 25%; }
    .col-lar-4 { width: 33.333333%; }
    .col-lar-5 { width: 41.666667%; }
    .col-lar-6 { width: 50%; }
    .col-lar-7 { width: 58.33333%; }
    .col-lar-8 { width: 66.666667%; }
    .col-lar-9 { width: 75%; }
    .col-lar-10 { width: 83.333333%; }
    .col-lar-11 { width: 91.666667%; }
    .col-lar-12 { width: 100%; }
}

/***########## General Styling and Typography settings. ***/
body { background-color: #f3f3f3; }
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 18px; }
ul { list-style-type: none; }
p { padding-bottom: 16px; line-height: 22.4px; }
a { text-decoration: none; }
img { max-width: 100%; font-size: 0px; } /*Don't allow images to go offscreen horizontally */
a:link, a:visited { color: #000000; }
a:hover { color: #0000cc; }
input, textarea, select { outline: 0; transition: 0.2s; }
input:focus, textarea:focus, select:focus { box-shadow: 0px 0px 3px 3px rgba(0, 102, 204, 0.6); transition: 0.2s; }

.body-wrapper { position: relative; width: 100%; min-width: 300px; padding: 0; border: 0; margin-left: auto; margin-right: auto;
                background-color: #ffffff; }

@media only screen and (min-width: 500px){
}

@media only screen and (min-width: 700px){
    h1 { font-size: 32px; }
    h2 { font-size: 26px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }  
}

@media only screen and (min-width: 1200px){      
    h1 { font-size: 36px; }   
    h2 { font-size: 26px; }  
    h3 { font-size: 24px; }  
    h4 { font-size: 18px; }
}

@media only screen and (min-width: 1600px){
}

/***########## General layout settings and general classes. ***/
.justify-content > div { display: flex; flex-wrap: wrap; justify-content: center; }

/* General Resuable Classes */
.sr-only { display: block; width: 0; height: 0; opacity: 0; }
.width-100-percent { width: 100%; }
.clear-both { clear: both; }

/* Use .inner-wrapper for layouts where you want to have backgrounds go out of the site 'border' provided by .body-wrapper '*/
.inner-wrapper { position: relative; padding: 0; margin-left: auto; margin-right: auto; }

@media only screen and (min-width: 700px){
    .float-right-above-a-breakpoint { float: right; }
}

/* Form Validation classes */
.javascript-validation-results-contact-us { display: none; font-weight: bold; }
.javascript-validation-results-contact-us.show { display: block; }
.required-field-needed { box-shadow: 0px 0px 3px 3px rgba(204, 0, 0, 1); }
/***########## End of General Styling Reset and Setup ****/




/***############### Beginning of Website-specific style sheet. ****/

/*
Monochromatic color scheme.
1:     #ac8949   mid light-brown   (172, 137, 73)
2:     #64460e;  mid dark brown    (100, 74, 14)
3:     #fbe3b7;  light brown       (251, 227, 183)
*/

@font-face {
   font-family: Pacifico;
   src: url('../fonts/Pacifico/Pacifico-Regular.ttf'); 
   font-weight: normal;
}

@font-face {
   font-family: Noto Serif;
   src: url('../fonts/NotoSerif/NotoSerif-Regular.ttf'); 
   font-weight: normal;
}

@font-face {
   font-family: Lato;
   src: url('../fonts/Lato/Lato-Regular.ttf'); 
   font-weight: normal;
}

html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, tr, td, th, h1, h2, h3, h4, h5, h6 {
   font-family: 'Lato', sans-serif;
}
html { word-wrap: break-word; -ms-word-wrap: break-word; line-height: 1.4; }
h1, h2, h3, h4, h5, h6 { }
h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 30px; padding: 0 0 15px 0; }
h2 { font-size: 24px; padding: 0 0 15px 0; }
h3 { padding: 0 0 15px 0; }
h4 { padding: 0 0 12px 0; }
h5 { padding: 0 0 12px 0; }
h6 { padding: 0 0 12px 0; }
p { line-height: 1.4; }
input, textarea, button { width: auto; padding: 10px; margin-bottom: 5px; border: 1px solid #000000; border-radius: 15px; }
a:link, a:visited { }
a:hover { color: #ac8949; }
input:focus, textarea:focus { box-shadow: 0px 0px 3px 3px rgba(172, 137, 73, 0.6); transition: 0.2s; }
input::placeholder, textarea::placeholder { opacity: 0.8; }
ul { padding-bottom: 30px; padding-left: 20px; }
li > ul { padding-bottom: 0; }
ol { padding-bottom: 30px; padding-left: 20px; }
li > ol { padding-bottom: 0; }
li { }
ul > li { list-style-type: disc; }
ol > li { list-style-type: var; }
dl { }
dt { font-weight: bold; }
dd { padding-bottom: 25px; }
table { margin-bottom: 30px; border-collapse: collapse; }
th { padding: 15px; border: 1px solid rgba(172, 137, 73, 0.4); font-weight: bold; }
td { padding: 15px; border: 1px solid rgba(172, 137, 73, 0.4); }
th a { font-weight: bold; }
pre { display: inline-block; width: 100%; padding: 15px; overflow: auto; white-space: pre-wrap; }
img { height: auto; max-width: 100%; }


/*WordPress generated classes.*/
.wp-caption { max-width: 100%; }
.wp-caption-text { display: inline-block; width: 100%; text-align: center; }
.sticky { }
.screen-reader-text { }
.gallery-caption { }
.bypostauthor { }
.alignleft { float: left; margin-right: 15px; }
.aligncenter { display: block; clear: both; margin-left: auto; margin-right: auto; }
.alignright { float: right; margin-left: 15px; }


/*Additional WordPress generated classes.*/
.body-wrapper .submit { transition: 0.4s ease-in; }
.body-wrapper .submit:hover { background-color: #8b6928; transition: 0.4s ease-in; }
.screen-reader-text { display: none; }

.wp-block-button { padding-bottom: 15px; }
.is-style-outline .wp-block-button__link, 
.wp-block-button__link.is-style-outline { }
.is-style-squared .wp-block-button__link, 
.wp-block-button__link.is-style-squared { border-radius: 4px; }

.blocks-gallery-caption { padding-bottom: 20px; }
.wp-block-image figcaption { }
.blocks-gallery-grid .blocks-gallery-image figcaption, 
.blocks-gallery-grid .blocks-gallery-item figcaption, 
.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption { line-height: 18px; }

.wp-block-cover { margin-top: 15px; margin-bottom: 30px; }
.body-wrapper .wp-block-cover .wp-block-cover-text { font-size: 20px; color: #ffffff; }
.body-wrapper .wp-block-cover .wp-block-cover-text a:link,
.body-wrapper .wp-block-cover .wp-block-cover-text a:visited { font-size: 20px; color: #ffffff; }

.wp-block-group.has-background { padding: 15px 20px; }

.wp-block-code { border: 1px solid rgba(172, 137, 73, 0.4); }
.wp-block-verse { background-color: #f3f3f3; }

.editor-styles-wrapper .has-large-font-size, 
.has-large-font-size { line-height: 50.4px; }

.gallery-item { padding-left: 8px; padding-right: 8px; }
#gallery-1.gallery img,
#gallery-2.gallery img,
#gallery-3.gallery img,
#gallery-4.gallery img,
#gallery-5.gallery img,
#gallery-6.gallery img,
#gallery-7.gallery img,
#gallery-8.gallery img,
#gallery-9.gallery img { border: 0; }

.searchform { display: flex; flex-wrap: wrap; justify-content: center; }


/* Header styles */
.header { min-height: 200px; padding-bottom: 20px; }
.main-title { padding-top: 65px; padding-bottom: 0; margin-left: 5px; margin-right: 5px; text-align: center; }
.main-title .main-title__title { font-size: inherit; font-weight: inherit; color: #ac8949; font-family: 'Pacifico', cursive; }
.header__subtitle { padding-bottom: 0; text-align: center; font-family: 'Noto Serif', serif; }
.logo { position: relative; width: 40px; top: 20px; left: 15px; }
.header__phone { padding-top: 10px; text-align: center; font-size: 17px; font-weight: 600; }
.header .searchform { padding-top: 20px; }


/* Nav styles */
.mobile-nav { display: block; }
.desktop-nav { display: none; }
.mobile-nav li { z-index: 10; }
.desktop-nav li { z-index: 10; }
.nav { }
.nav ul { padding-left: 0; padding-bottom: 0; font-size: 0; }
.nav li { display: block; position: relative; text-align: left; }
.nav a { color: #f9f9f9; }
.nav a:hover { color: #fbe3b7; }

.nav li ul { display: none; }
.nav li.page_item_has_children::after,
.nav li.menu-item-has-children::after { position: absolute; top: 0; right: 10px; padding-left: 4px; content: "\25bc"; color: #ffffff; }
.nav ul ul li.page_item_has_children::after,
.nav ul ul li.menu-item-has-children::after { content: "\25ba"; color: #ffffff; }

.mobile-nav li ul li { padding-left: 15px; }
.mobile-nav ul.show { display: block; }

#dropdownButton { position: absolute; top: 25px; right: 20px; width: 30px; height: 30px;
                  background: url('../images/hamburger-nav.png') 50% 0%/cover no-repeat; cursor: pointer; }
#dropdownContent { padding: 0; background: none; transition: 0.8s all ease-in; }    
#dropdownContent li { display: block; height: 0; padding-bottom: 0px; opacity: 0; transition: 0.8s all ease-in; }
#dropdownContent.show { padding: 15px; transition: 0.8s all ease-in; }
#dropdownContent.show li { height: auto; margin-top: 20px; margin-bottom: 20px; opacity: 1; transition: 0.8s all ease-in; }
#dropdownContent.show > li:last-of-type { margin-bottom: 0; } 


/*Message styles*/
.message { padding: 25px 10px; text-align: center; background-color: #ac8949; transition: 0.4s ease-in; }
.message__text { display: inline-block; font-size: 22px; color: #f9f9f9; }


/*Footer Styles*/
.footer { padding: 50px 10px; background-color: #fbe3b7; }
.footer__subheader { padding-bottom: 15px; }
.footer ul { padding-left: 0; }
.footer li { list-style-position: inside; }

.footer__social, .footer__location-phone, .footer__hours { padding-top: 20px; padding-bottom: 20px; } 

.footer__copyright { text-align: center; }
.footer__widgets { display: flex; flex-wrap: wrap; justify-content: center; text-align: left; }
.footer__bottom-section { display: flex; flex-wrap: wrap; justify-content: center; }
.footer-column { width: 100%; }

.footer__nav { text-align: center; }
.footer__nav li { margin-top: 10px; margin-bottom: 10px; text-align: left; list-style-type: none; }
.footer__nav li ul li { padding-left: 15px; }
.footer__social { text-align: center; font-size: 0; }
.footer__social a { transition: 0.3s; }
.footer__social a:hover { color: #fff; transition: 0.3s; }
.social-icon { font-size: 26px; }
.footer__location-phone { text-align: center; }
.footer__location-phone__location { padding-bottom: 15px; }
.footer__location-phone__phone { font-weight: 600; }
.footer__hours { text-align: center; }
.footer__hours__day { padding-bottom: 15px; }
.footer__hours__day:last-of-type { padding-bottom: 0; }

.footer__social-logo { display: inline-block; padding: 0 15px; }
.footer__social-icon { transition: 0.4s all; }
.footer__social-icon:hover { transition: 0.4s all; }

.footer .widget { width: 100%; padding-bottom: 50px; }


/*Comments*/
.comment-respond { padding-top: 20px; padding-bottom: 10px; }
.comment-reply-title { font-size: 19px; }
.comment-form { }
.comment-form label { }
.comment-form #comment { height: 100px; }
.comment-form-comment { }
.comment-form-author { float: left; width: 50%; padding-right: 10px; }
.comment-form-email { float: left; width: 50%; padding-left: 10px; }
.comment-form-email:after { content: ""; display: block; clear: both; }
.comment-form-url { }
.comment-form-cookies-consent { }
#wp-comment-cookies-consent { width: auto; margin-right: 4px; }

.comments { }
.comments__header { font-size: 19px; }

.comment-form input, 
.comment-form textarea { width: 100%; }
.comments .comment { position: relative; padding: 10px; margin-bottom: 30px; line-height: normal; list-style-type: none; background-color: rgba(172, 137, 73, 0.15); }
.comments .comment:last-of-type { margin-bottom: 0; }
.comment-body { padding-left: 80px; }
.comments .avatar { position: absolute; top: 10px; left: 10px; border-radius: 8px; }
.comments .fn { display: inline-block; padding-bottom: 2px; font-weight: bold; }
.comments .says { display: inline-block; padding-bottom: 2px; }
.comments .commentmetadata { padding-bottom: 10px; }
.comments .reply { }
.comments .children { margin-top: 15px; margin-left: 5px; }
.comments pre { display: block; }


/*Search*/
#searchsubmit { margin-left: 5px; color: #fbe3b7; }


/*General site-specific classes*/
.item-container__background { height: 240px; }
.no-padding-bottom { padding-bottom: 0; } /* Put on the last of a group of paragraphs where no padding bottom is desired. */
.current_page_item a { text-decoration: underline; }


/*General styles*/
.content__body { }
.content__the-content { }
.content__the-content::after { content: ""; display: block; clear: both; }
.content__featured-image { width: 100%; height: 240px; margin-bottom: 15px; background-repeat: no-repeat; background-position: 50% 50%; }
.content__featured-image.hide { display: none; }

.body-wrapper .read-more { display: inline-block; width: auto; padding: 10px; border: 1px solid #000000; border-radius: 15px; color: #fbe3b7; cursor: pointer; transition: 0.4s ease-in; }
.body-wrapper .read-more:hover { background-color: #8b6928; transition: 0.4s ease-in; }

button,  
input[type="submit"],
.comment-form .submit,
.wp-block-button a:link, 
.wp-block-button a:visited, 
.wp-block-button__link { width: auto; color: #fbe3b7; cursor: pointer; transition: 0.4s ease-in; }
button:hover,  
input[type="submit"]#searchsubmit:hover,
.comment-form .submit:hover,
.wp-block-button a:hover, 
.wp-block-button__link:hover {  background-color: #8b6928; transition: 0.4s ease-in; }

.wp-caption-text,
.wp-block-image figcaption,
.blog__image__caption { font-size: 14px; font-style: italic; color: #999999; }


/*Categories and Tags*/
.folder { display: inline-block; padding-right: 5px; font-size: 16px; }
.category__names { display: inline-block; }
.tags { display: inline-block; padding-right: 5px; font-size: 16px; }
.tag__names { display: inline-block; }


/*Index page*/
.index-content__subheading { padding-bottom: 18px; text-align: center; }

.index-content__baked-items-list { margin-left: 30px; list-style-type: disc; }
.index-content__baked-items-list__list-item { padding-bottom: 10px; }

.index__blog { padding-bottom: 40px; }
.index__blog__title { padding-bottom: 10px; }
.index__blog__title__link { font-size: 18px; font-weight: bold; }
.index__blog__categories { padding-bottom: 4px; font-size: 18px; color: #64460e; }
.index__blog__author { padding-bottom: 4px; font-weight: bold; color: #64460e; }
.index__blog__date { padding-bottom: 12px; font-style: italic; color: #64460e; }
.index__blog__image { width: 100%; height: 200px; margin-bottom: 4px; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; }
.index__blog__link { display: inline-block; width: 100%; height: 100%; }
.index__blog__content { }


/*Blog*/
.blog-posts-container { padding-bottom: 20px; }
.blog-page-intro { padding-bottom: 20px; }
.blog-posts { }

.blog { padding-bottom: 100px; font-size: 0; }
.blog:last-of-type { padding-bottom: 0; }

.blog__featured { display: inline-block; padding: 10px 12px; margin-bottom: 15px; border-radius: 4px; font-weight: bold; letter-spacing: 0.8px; background-color: #64460e; color: #ffffff; }
.blog__title { padding-bottom: 12px; font-size: 20px; font-weight: bold; color: #64460e; }
.blog__title__link { font-size: inherit; font-weight: inherit; color: inherit; }
.blog__author { display: inline-block; padding-bottom: 5px; padding-right: 20px; font-weight: bold; color: #64460e; }
.blog__author a { font-weight: bold; color: #64460e; }
.blog__date { display: inline-block; padding-bottom: 10px; padding-right: 20px; font-style: italic; color: #64460e; }
.blog__date__link { }
.blog__categories { display: inline-block; padding-bottom: 5px; padding-right: 20px; font-size: 0; color: #64460e; }
.blog__tags { display: inline-block; padding-bottom: 5px; font-size: 0; color: #64460e; }
.blog__image { width: 100%; height: auto; }
.blog__image__background { width: 100%; height: 200px; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; margin-bottom: 4px; }
.blog__image__caption { display: inline-block; width: 100%; text-align: center; }
.blog__image__description { display: inline-block; width: 100%; padding-top: 5px; text-align: center; color: #999999; }
.blog__content { display: block; padding-top: 15px; }
.blog__content.hide { display: none; }
.blog__number-of-comments { padding-top: 15px; padding-bottom: 5px; font-style: italic; color: #64460e; }
.blog__number-of-comments__link { }

/*Post format: images*/
.post_format-post-format-image .blog__image { float: none; margin-top: 30px; margin-bottom: 30px; }

/*Post format: video*/
.post_format-post-format-video .blog__image { float: right; margin-top: 30px; margin-bottom: 30px; }


/*Posts*/
.posts__navigation { padding-top: 60px; }
.nav-links { font-size: 0; }
.posts__navigation a,
.posts__navigation span { display: inline-block; padding-right: 30px; padding-bottom: 20px; }


/*Comments*/
.comments-pagination { padding-top: 60px; }
.comments-pagination a, 
.comments-pagination span { display: inline-block; padding-right: 30px; padding-bottom: 20px; }


/*Single post pages*/
.single-post .blog { padding-bottom: 0px; }
.post-nav-links { clear: both; padding-top: 15px; font-size: 0; }
.post-page-numbers { padding-right: 15px; }


/*Archive (tag, category) pages*/
.archive-page-heading { padding-bottom: 40px; }
.archive-page-heading__title { font-weight: normal; text-align: left; }
.archive-page-heading__name { font-size: inherit; font-weight: bold; font-style: italic; }

.archive .blog__header { padding-bottom: 10px; font-size: 0; }
.archive .blog__title { display: inline-block; padding-bottom: 5px; }
.archive .blog__author { display: inline-block; padding-bottom: 5px; padding-left: 4px; }
.archive .blog__date { display: inline-block; padding-bottom: 5px; padding-left: 4px; }
.archive .blog__categories { }
.archive .blog__tags { padding-bottom: 10px; }
.archive .blog__image { margin-bottom: 5px; }


/*Category pages*/
.post-categories { display: inline-block; }


/*Search page*/
.search-results-statement { padding-bottom: 30px; font-size: 20px; }
.search-query { font-size: inherit; font-weight: bold; }



@media only screen and (min-width: 500px){   
    
}



@media only screen and (min-width: 700px){ 
    
    input, textarea { }
    
    
    /*Additional WordPress generated classes.*/
    .gallery-item { padding-left: 12px; padding-right: 12px; }
    
    
    /*Footer Styles*/
    .footer__social, .footer__location-phone, .footer__hours { padding-top: 0px; padding-bottom: 0px; } 
    .footer__widgets { margin-left: auto; margin-right: auto; }
    .footer .widget { width: 50%; padding-bottom: 50px; padding-left: 15px; padding-right: 15px; }
    .footer-column { width: 50%; }
    .footer__social-logo { display: block; padding: 15px 15px; }    
    
    
     /*General styles*/
    .content__body {width: 100%; }
    .content__featured-image, 
    .home .content__featured-image { height: 280px; }
    
    
    /*Index*/
    .item-container__background { height: 300px; }
    
    .home .content__featured-image { float: right; width: 50%; }
    
    .index__blog { padding-bottom: 0; }
     
    
    /*Blog*/
    .blog-posts-container { padding-bottom: 0px; }
    
    
    /*Archive (tag, category) pages*/
    .archive .blog__image { float: left; width: 260px; height: auto; margin-right: 20px; }
    .archive .blog__image__background { width: 260px; height: 200px; }
    
}

@media only screen and (min-width: 1200px){ 
    h1 { font-size: 48px; }
    h2 { font-size: 28px; }
    h3 { }

    .inner-wrapper { width: 1200px; }

    
    /*Additional WordPress generated classes.*/
    .wp-block-cover { }
    .body-wrapper .wp-block-cover .wp-block-cover-text { font-size: 24px;}
    .body-wrapper .wp-block-cover .wp-block-cover-text a:link,
    .body-wrapper .wp-block-cover .wp-block-cover-text a:visited { font-size: 24px; }
    
    
    .logo { position: absolute; top: 70px; right: 20px; width: 80px; }
   
    
    /* Header styles */
    .header { min-height: 240px; }
    .main-title { padding-top: 70px; text-align: left; margin-left: 180px; margin-right: 0; }
    .header__subtitle { text-align: left; margin-left: 220px; }
    .header__phone { position: absolute; right: 20px; top: 200px; padding-top: 0; text-align: left; }
    
    .header .searchform { display: block; position: absolute; top: 20px; right: 20px; padding-top: 0; margin-left: 0; margin-right: 0; }
    
    
    /* Nav styles */
    .mobile-nav { display: none; }
    .desktop-nav { display: block; }
    .nav li { display: inline-block; padding: 15px 32px 15px 15px; text-align: left; }

    .nav li:hover > ul { display: block; position: absolute; top: 50px; left: 0; background-color: #64460e; border: 2px solid rgba(172, 137, 73, 0.8); }
    .nav ul ul li:hover ul { top: -2px; left: 100%; padding-top: 0; padding-bottom: 0; }
       
    .nav li.page_item_has_children::after,
    .nav li.menu-item-has-children::after { top: 15px; }
    
    
    /*Footer Styles*/
    .footer__social-logo { display: inline-block; padding: 0 15px; } 
    .footer .widget { width: 33.333333%; }
    .footer-column { width: 25%; }
    
    
    /*General styles*/
    .content__body { }
    .content__featured-image { height: 300px; }


    /*Index*/
    .item-container__background { height: 360px; }
    
    .index__blog__title__link { font-size: 20px; }
    
    
    /*Blog*/
    .blog__title { font-size: 24px; }
    .blog__image { float: left; width: 500px; height: auto; margin-right: 15px; margin-bottom: 15px; }
    .blog__image__background { width: 500px; height: 350px; }
    .blog__content:after { content: ""; display: block; clear: both; }
    
    
    /*Posts*/
    .posts__navigation a,
    .posts__navigation span { padding-bottom: 0; }

    
    /*Comments*/
    .comment-form { max-width: 500px; }
    .comments-pagination a, 
    .comments-pagination span { padding-bottom: 0; }
  
}
