
@media print {
    
    /***############### Base reset and generic styles for print ***/
    /*Enable background-colors and background-images on (most) browsers. */
    * { -webkit-print-color-adjust: exact !important; /* Chrome, Safari */ color-adjust: exact !important; /* Firefox */ }

    .noprint { display: none; }
    /***########## End of General Reset and Setup ****/



    /***############### Website Specific Styles. ***/
    
    /* Header styles */
    .main-title .main-title__title { }
    
    
    /*General styles*/
    .content__featured-image { float: right; width: 50%; }
    
    
    /*Index page*/
    .index__blog__image { float: left; width: 270px; height: 200px; margin-right: 15px; }
    .index__blog__link { width: 270px; height: 200px; }

    
    /*Message styles*/
    .message__text { }
    
    


    @media only screen and (min-width: 500px){   

    }



    @media only screen and (min-width: 700px){ 

    }



    @media only screen and (min-width: 1200px){ 

    }

}